<div class="landing">
  <div class="frame2 group">

    <logo>
      <img class="logo" src="<%= image_url('logo-2.png')%>">
    </logo>

    <ul class="points">
      <li class="one">- All your notes in one place</li>
      <li class="two">- Access from anywhere</li>
      <li class="three">- Never loose a note</li>
      <li class="four">- Easy to find</li>
      <li class="five">- Easy to organize</li>
    </ul>






    <div class="clips group">


      <a class="l-signup" href="<%= new_user_url%>">Sign up</a>
      <a class="l-demo" href="">Demo</a>
      <a class="l-twitter" href="/auth/twitter">Sign in with Twitter</a>
      <a class="l-facebook" href="/auth/twitter">Sign in with Facebook</a>
      <a class="l-signin" href="<%= new_session_url%>">or Sign In</a>

      <img class="black" src="<%= image_url('clips.png')%>">


      <img class="r-signup" src='<%= image_url("r-signup.png")%>'>
      <img class="r-demo" src='<%= image_url("r-demo.png")%>'>
      <img class="r-signin" src="<%= image_url('r-signin.png')%>">
      <img class="r-twitter" src='<%= image_url("r-twitter.png")%>'>
      <img class="r-facebook" src='<%= image_url("r-facebook.png")%>'>



  </div>


</div>
