<h2 class="shared1">Placeholder</h2>
<h2 class="shared2">Don't have ColorNote yet?</h2>

<button class="shared1">
<%= button_to "Sign Up Now!", new_user_url, method: :get %>
</button>

<button class="shared2">
<%= button_to "or Try Demo!", demo_url, method: :get %>
</button>

<section class="note-shared">

  <h1><%= @note.title %></h1>

  <%= simple_format(@note.body) %>

  <% @note.uploads.each do |upload| %>
    <%= upload %>
  <% end %>
</section>
