<div class="shared-header group">
  <h2 class="shared">Don't have ColorNote yet?</h2>
  <button class="shared">
  <%= button_to "Sign Up Now!", new_user_url, method: :get %>
  </button>
  <button class="shared">
  <%= button_to "or Try Demo!", demo_url, method: :get %>
  </button>
</div>
<div class="line-accross"></div>

<section class="note-shared">

  <h1><%= @note.title %></h1>

  <%= simple_format(@note.body) %>

  <% @note.uploads.each do |upload| %>
    <% if upload.uploaded_content_type.match("image") %>
      <img src="<%= upload.uploaded.url%>">
    <% else %>
      <a class="file-name" href="<%= upload.uploaded.url%>">📎 <%= upload.uploaded_file_name %>"</a>
    <% end %>
  <% end %>
</section>
