<meta charset="utf-8" />

<div class="link"></div>

<div class="left">

<% if (!book) { %>
  <h2>NOTES</h2>
  <div class="selectors">
    <div class="color-select-r"><div class="big-r"></div></div>
    <div class="color-select-b"><div class="big-b"></div></div>
    <div class="color-select-g"><div class="big-g"></div></div>
</div>
<% } %>

    <div id="search">🔍</div>

    <section class="search-window"></section>


  <% if (notes.length === 1) { %>
    <div class="nTote-count">1 note</div>
  <% } else { %>
    <div class="note-count"><%= notes.length %> notes</div>
  <% } %>

  <div class="notes-clickable">



    <% if (selector !== false) { %>

      <% var notesSelect = []; %>
      <% var notesOther = []; %>

      <% notes.forEach (function(note) { %>

        <% if (note.escape("color") === selector) { %>
          <% notesSelect.push(note) } else { %>
            <% notesOther.push(note) } %>

      <% }) %>

      <% notes = notesSelect.concat(notesOther) %>

    <% } %>


    <% notes.forEach(function(note){ %>

      <% if (note instanceof Colornote.Models.Note) { %>

        <section class="note-clickable" data-type="Note" data-id="<%=note.escape('id')%>">

          <div class="note-title"><%= note.escape("title") %></div>
          <i class="fa fa-share-square-o" id="share-note" data-link="<%=note.escape('link')%>"></i>

          <i class="fa fa-trash trash-notes"></i>
          <div class="note-body"><%= note.escape("body")%></div>
          <div class='<%="color " + note.escape("color") %>'></div>
        </section>
      <% } else { %>
        <section class="note-clickable">
          <div class="notebook-clickable" data-type="Notebook" data-id="<%=note.escape("id")%>">Notebook: </div>

          <div class="notebook-title"><%= note.escape("title")%></div>
          <i class="fa fa-trash trash-notes"></i>
        </section>
      <% } %>
    <% }) %>
  </div>

</div>

<div class="note-show"></div>
