<meta charset="utf-8" />

<div class="left">

<% if (!book) { %>
  <h2>NOTES</h2>
<% } %>

    <div id="search">🔍</div>

    <section class="search-window"></section>


  <% if (notes.length === 1) { %>
    <div class="note-count">1 note</div>
  <% } else { %>
    <div class="note-count"><%= notes.length %> notes</div>
  <% } %>

  <div class="notes-clickable">
    <% notes.forEach(function(note){ %>

      <% if (note instanceof Colornote.Models.Note) { %>
      
        <section class="note-clickable" data-type="Note" data-id="<%=note.escape("id")%>">

          <div class="note-title"><%= note.escape("title") %></div>
          <i class="fa fa-trash trash-notes"></i>
          <div class="note-body"><%= note.escape("body")%></div>
          <div class='<%="color " + note.escape("color") %>'></div>
        </section>
      <% } else { %>
        <section class="note-clickable">
          <div class="notebook-clickable" data-type="Notebook" data-id="<%=note.escape("id")%>">Notebook: </div>

          <% debugger %>
          <div class="notebook-title"><%= note.escape("title")%></div>
          <i class="fa fa-trash trash-notes"></i>
        </section>
      <% } %>
    <% }) %>
  </div>

</div>

<div class="note-show"></div>
