<div class="right">
  <h2>Type here, it saves automatically...</h2>

  <form>
  <label>Move note:
  <select id="note-notebook-id" name="notebook_id">




  <% notebooks.forEach(function(book){ %>

    <% if (book.id === notebook.id) { %>
    <option value="<%= notebook.escape('id') %>" selected><%= notebook.escape("title") %></option>
    <% } else { %>
    <option value='<%= book.escape("id")%>'><%= book.escape("title")%></option>
    <% } %>
  <% }) %>



  </select>
  </label>
  <label>Change color:
  <select id="note-color" name="color">
    <% Colornote.colors.forEach(function(color){ %>
      <% if (note.get("color") === color ) { %>
        <option value="<%= color %>" selected><%= color %></option>
      <% } else { %>
        <option value="<%= color %>"><%= color %></option>
      <% } %>
    <% }) %>

  </select>
  </label>
   <br>

   <input id="note-title" type="text" name="title" value="<%= note.escape("title")%>">
 <br>

   <section class="images"></section>

   <section class="files"></section>
   <br>


      <input id="note-file" type="file" name="upload">
  <br>
  <br>
    <textarea id="note-body" class="note-body" name="body"><%= note.escape("body")%></textarea>
<br>

  </form>
  <br>
