<div class="right">
  <h2>EDIT NOTE</h2>

  <form>
  <label>Move note:
  <select name="notebook_id">
    <option value="<%= notebook.escape("id") %>" selected><%= notebook.escape("title") %></option>
  <% theRest.forEach(function(book){ %>
    <option value="<%= book.escape("id")%>"><%= book.escape("title")%></option>
  <% }) %>
  </select>
  </label>
  <label>Change color:
  <select name="color">
    <option value="">None</option>
    <option value="R">RED</option>
    <option value="B">BLUE</option>
    <option value="G">GREEN</option>
  </select>
  <br>
  </label>
    <input class="note-title" type="text" name="title" value=<%= note.escape("title")%>>
    <br>
    <textarea class="note-body" name="body"><%= note.escape("body")%></textarea>
  </form>
