<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="<%= image_url('favicon.ico')%>" />
  <title>ColorNote</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>



</body>
<script>
  document.getElementsByClassName("facebook")[0].onclick = function(){
    window.location.href = "/auth/facebook"
  }

  document.getElementsByClassName("twitter")[0].onclick = function(){
    window.location.href = "/auth/twitter"
  }
</script>

</html>
